/* Coolors Exported Palette - coolors.co/60afcf-f55562-ffffff-ffd784-597681 */

/* HSL */
$color1: hsla(197%, 54%, 59%, 1);
$color2: hsla(355%, 89%, 65%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(40%, 100%, 76%, 1);
$color5: hsla(197%, 18%, 43%, 1);

/* RGB */
$color1: rgba(96, 175, 207, 1);
$color2: rgba(245, 85, 98, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(255, 215, 132, 1);
$color5: rgba(89, 118, 129, 1);