/* ================================= 
 Navigation
==================================== */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Merriweather', sans-serif;
}


/*Display logo on the left*/
.top_logo {
  display: flex;
  align-self: flex-start;
  height: 4rem;
  padding: 0;
}
/* ================================= 
Card Column Styles 
==================================== */
/*
.card-columns {
  display: inline-block;
*/
  
  
}

/* ================================= 
  About Card Styles 
==================================== */
/*
.about-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  }*/


/* ================================= 
  Flexbox Card Styles 
==================================== */
/*

.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  color: fff;
}
*/

/*
.row {
	flex: 1;
}
*/

/*
.card {
  flex:none;
  width: 40rem;
    
*/
}

/*
.card-body{
  font: fff;
  background-color: rgb(37, 146, 190);
  padding: 1em;
  }
*/

/*
.card-title {
  font: white;
  }

.card-subtitle {
  
}

.card-text {
*/
  
}
/* ================================= 
  Media Queries
==================================== */

@media min-width: 350px {
  .main-header {
    background: #ffffff url('img/youngManMobile.jpg') no-repeat 100%;
    font-family: 'PhillySans-Regular';
    padding-top: 10%;
    padding-left: 3%;
    padding-bottom: 0;
    font-size: 1em;
    font-style: oblique;
    height: 100%;
    width: 100%;
  }
  }

@media min-width: 768px {
  .card-column {
    column-count: 3;
  }
  }




/*
	.main-header,
	.main-nav {
		display: flex;
	}
  
	.main-header {
      flex-direction: column;
      align-items: flex-start;
	}

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }

    .nav {
      display: flex;
      align-items: center;
      flex-direction: column;
    justify-content: flex-end;
      font-family: 'Merriweather', sans-serif;
      }
*/
  
  .title {
/*
    background-color: blue;
    font-size: 100rem;
*/
  }
    
}

/*.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
*/
/*.card {
    flex:none;
    width: 80rem;
  }
*/
  }

/*
@media (min-width: 1025px) {
  .card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    min-height: 100vh;
*/
/*
	}
  
  .card {
    flex:none;
    width: 40rem;
*/
  }

}

/*Card Column Media Queries*/
/*
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}*/
