/*
* — Header Styles —
*/


@font-face {
  font-family: 'PhillySans-Regular';
  src: url("img/PhillySans-Regular.otf") format("opentype");
}

/* 
==========================================================================
Hamburger Nav Styles
========================================================================== 
*/    
    nav {
      margin: 0;
      padding: 0;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: none;
    }

    nav ul.opening {
      display: inline;
      height: 30px;
    }

    nav li { border-bottom: 1px solid #f6f4e2;}

    nav li:last-child { border-bottom: none; }

    nav a {
      color: #EBEBD3;
      background: #e7a119;
      display: block;
      padding: 1.5em 4em 1.5em 3em;
      text-transform: uppercase;
      text-decoration: none;
    }

    nav a:hover, nav a:focus { background: #E4B363; }

    .site-nav--icon {
      font-size: 1.4em;
      margin-right: 1em;
      width: 1.1em;
      text-align: right;
      color: rgba(255,255,255,.4);
    }

/* MENU TOGGLE STYLES*/

.menu-toggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: .5em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before { display:none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}

/* HAMBURGER STYLING FOR DESKTOP*/
/*
.menu-toggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: .5em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before { display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}
*/

/*NAV MEDIA  QUERIES*/

@media (min-width: 780px) {

  .menu-toggle { display: none; }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav li {
    flex: 1 1 auto;
    border: none;
  }

  nav li a {
    padding: 1.5em 1.3em 1.5em 1.3em;
    margin: 0;
    border: none;
    background-color: #f04343;
  }

  nav a:hover,  nav a:focus { background-color: rgba(255,255,255,.10); }

  .logo {
    flex: 0 0 200px;
    margin: 0;
    padding-left: 20px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #f04343;
  }
  
  
/*
  nav ul {
    display: flex;
  }
*/

/*
nav ul {
  display: none;
}
*/

/*nav ul.open {*/
/*
  display: flex
}   
*/
  
}





/*Header Styling*/
.main-header {
  font-family: 'PhillySans-Regular';
  padding-top: 5%;
  padding-left: 8%;
  height: 645px;
  width: 100%;
  background: #ffffff url('img/young man.jpg') no-repeat 50%;
  background-size: cover;
}

.title {
  line-height: 90%;
    font-size: 4em;
  font-style: oblique;
}

/*Card Column Style*/
/*
.card-columns {
  background-color: #2592beb3;
  width: 100%;
  padding: 3%
}
*/



/*Card Block Style*/

.card-block {
  
}

.card {
  padding: 3%;
/*  position: relative;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -ms-flex-direction: column;*/
/*  flex-direction: column;*/
/*  max-width: 20;*/
/*  word-wrap: break-word;*/
/*  background-color: #fff;*/
/*  background-clip: border-box;*/
/*  border: 1px solid rgba(0,0,0,.125);*/
/*  border-radius: .25rem;*/
}

.card-block{
  padding: 3%;
}

.card-title {
  padding: 1%;
  font-weight: 800;
}


.card-text {
  font-weight 100;
  padding-bottom: 5%;
  
}

.small.text-muted {
  color: #ffffff;
}

.list-group-item {
  
}

/* Card Styling for Individual Cards*/
#about {
  background-color: rgba(255, 200, 87, 1); 
}

#mission {
    background-color: rgba(242, 22, 40, 1); 
}

.list-group li{
    background-color: rgba(242, 22, 40, 1); 
  
}

#mindset {
    background-color: rgba(197, 255, 253, 1);
}

#makeup {
    background-color: rgba(37, 146, 189, 1);
}

.title {
  max-width: 200px;
}