/*
========================================================================== 
Header Styles
========================================================================== 
*/

@font-face {
  font-family: 'PhillySans-Regular';
  src: url("img/PhillySans-Regular.otf") format("opentype");
}

/* 
==========================================================================
Hamburger Nav Styles
========================================================================== 
*/    
    nav {
      margin: 0;
      padding: 0;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 5px;
      display: none;
    }

    nav ul.opening {
      display: inline-block;
      height: 30px;
    }

    nav li { border-bottom: 1px solid #e2f6f5;}

    nav li:last-child { border-bottom: 1em; }

    nav a {
      color: #2F558E;
      font-weight: 600
      background: #e7a119;
      display: block;
      padding: 1.5em 4em 1.5em 3em;
      text-transform: uppercase;
      text-decoration: none;
    }

    nav a:hover, nav a:focus { background: #E4B363; }

    .site-nav--icon {
      font-size: 1.4em;
      margin-right: 1em;
      width: 1.1em;
      text-align: right;
      color: rgba(0, 255, 177, 0.53);
    }

/*Display Logo at top left*/
.top_logo {
  display: block;
  align-self: center;
  height: 4rem;
  padding: 5px;
}

/*Hamburger Menu Toggle Styles*/
.menu-toggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: .5em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: rgba(89, 118, 129, 1);
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before { display:none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}

.main-header {
  margin-top: 1.5em;
}

/*
========================================================================== 
Hamburger Nav Media Query
========================================================================== 
*/

@media (min-width: 780px) {

  .menu-toggle { display: none; }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav li {
    flex: 1 1 auto;
    border: none;
  }

  nav li a {
    padding: 1.5em 1.3em 1.5em 1.3em;
    font-weight: 600;
    margin: 0;
    border: none;
    background-color: #fff;
  }

  nav a:hover,  nav a:focus { background-color: rgba(255,255,255,.10); }

  .logo {
    flex: 0 0 200px;
    margin: 0;
    padding-left: 20px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  background-color: #fff;
  }
  
  
  nav ul {
    display: flex;
  }  
}


/*
========================================================================== 
Header Styling
========================================================================== 
*/
.main-header {
  font-family: 'PhillySans-Regular';
  padding-top: 5%;
  padding-left: 8%;
  height: 630px;
  width: 100%;
  background: #fff url('img/young man.jpg') no-repeat 50%;
  background-size: cover;
}

.title {
  line-height: 90%;
    font-size: 4em;
  font-style: oblique;
}


/*
========================================================================== 
Card Styles
========================================================================== 
*/
.card-deck {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 1%;
  margin-top: 1rem;
}
    
.video-cap {
      box-sizing: border-box;
      }

.card-block{
  padding: 3%;
}

.card-title {
  padding: 1%;
  font-weight: 800;
}

.card-text {
  font-weight:400;
  padding-bottom: 5%;
}

.small.text-muted {
  color: #ffffff;
}

.video-cap {
  border-radius: .25em;
}

.card-img-top {
  border-radius: .25em;
}

/* 
    Card Styling for Individual Cards
*/
#about {
  background-color: rgba(255, 200, 87, 1); 
}

#mission {
    background-color: #f04343;
}

    #mission li {
        background-color: #f04343;
    }

  /*  Mission and Partner Card Modal Styling*/

    button.btn.btn-primary {
      margin-top: 1.3em;
      background-color: rgba(89, 118, 129, 1);
      border: rgba(89, 118, 129, 1);
    }

    .modal-header {
        background-color: rgba(240, 67, 67, 0.9);
    }

  /*  Mindset Card Styling*/


#mindset {
    background-color: rgba(197, 255, 253, 1);
}

  /*  Makeup Card Styling*/

#makeup {
    background-color: rgba(37, 146, 189, 1);
}

  /*  Partner Card  Styling*/

#partners {
    background-color: rgba(255, 200, 87, 1);
}

    #partners li {
        background-color: rgba(255, 200, 87, 1); 
}

    /*Partner Card Modal Styling*/

    #partnerModalHeader {
      background-color: rgba(255, 200, 87, .9)
    }

.title {
  max-width: 200px;
}


/*
========================================================================== 
Contact Form
========================================================================== 
*/
.contact-title {
  font-family: 'PhillySans-Regular';
  background-color: fff;
  font-size: 3em;
  margin-left: 0px;
  margin-bottom: 10px;
}

.contact_form {
/*  background: hsla(208, 12%, 25%, 0.77);*/
  font-family: sans-serif;
  font-size: 1em
}

.helptext{
  font-size: .8em;
}

.signup_form {
  background: #fff;
  padding: 2em 2em 2em 2em;
  max-width: 550px;
  margin: 2rem auto 2rem;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
}
.form-p {
  margin: 0 0 3em 0;
  position: relative;
}
.sign-up label {
  display: block;
  font-size: 1.6em;
  margin: 0 0 .5em;
  color: #333;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}
input[type="text"],
input[type="email"] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="email"]:focus {
  background: #fff
}
.sign-up span {
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  text-align: center;
  position: absolute;
  background: #2F558E;
  left: 105%;
  top: 25px;
  width: 160px;
  padding: 7px 10px;
  color: #fff;
}
span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #2F558E;
  border-width: 8px;
  margin-top: -8px;
}
input[type="submit"] {
  background-color: #597681;
  box-shadow: 0 3px 0 0 rgb(90, 119, 129);
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #68B25B;
}


