//- doctype html
//- html(lang="en")
//-   head
//-     title Branding Page
//-   body
//-     h1 The current home of something Bob Rossy!
//-     p If you hypnotize it, it will go away. That's a crooked tree. We'll send him to Washington. Let's build an almighty mountain. We can always carry this a step further. There's really no end to this. If you do too much it's going to lose its effectiveness. Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. You can create the world you want to see and be a part of. You have that power. All kinds of happy little splashes. Let's put some happy little clouds in our world. Everyone wants to enjoy the good parts - but you have to build the framework first. A tree cannot be straight if it has a crooked trunk. Everybody needs a friend.
//-     h2 The interesting thing.
//-     ol 
//-        li Mondo
//-         li A   
//-         li V
//-         li
//-         li REE

//- const colors = [
//-     'red',
//-     'orange',
//-     'yellow',
//-     'green',
//-     'blue',
//-     'purple'
//-   ];